section.contact#contact
    .contact-mean 
        a(href="https://github.com/JeanFrancisco") 
            img(src="./images/github-mark.svg", alt="GitHub", srcset="")
    .contact-mean
        a(href="https://wa.me/521XXXXXXXXX") 
            img(src="./images/WhatsAppButtonWhiteMedium.svg", alt="WhatsApp")
