footer 
    p.made-with-love Made with 💞 by Developer Jean Francesco
    p.all-rights-reserved Copyright © 2020 - 2023 All Rights Reserved
    p.copyright-notice All images, icons, logos, fonts and brands are registered trademarks or they are property of their respective authors and companies with the reserved rights of ownership &amp; use.