section.about-me {
    @include flex-justified-center;
    position: relative;
    padding: $nav-height 5%;
    height: 100vh;
    width: 100%;

    .carousel {
        width: 70%;
    }

    .card {
        color: $about-me-card-foreground;
        padding: 110px 100px;
        border-radius: 10px;
        @extend .box-shadow-light-top-right;

        transition: $about-me-border-card-transt;
    }

    .title {
        font-family: $font-about-me-heading;
        font-size: 5.43em;
    }

    .paragraph {
        letter-spacing: 1.5;
        font-family: $font-about-me-paragraph;
        font-size: 1.43em;
        margin: 23px 0 30px;
    }

    img.complete-avatar {
        margin-bottom: 5%;
        max-width: 30%;
        z-index: 4;

        transition: 0.34s ease-out;
        transform: scale(120%);

        &:hover {
            transform: scale(140%);
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    section.about-me {
        padding: 0 5%;

        .card {
            padding: 70px;
        }

        .carousel {
            width: 85%;
        }

        .title {
            font-size: 3.74em;
        }

        img.complete-avatar {
            transform: scale(150%);
            max-width: 25%;

            &:hover {
                transform: scale(175%);
            }
        }
    }
}

@media screen and (max-width: $screen-xl) {
    section.about-me {
        .title {
            font-size: 3.25em;
        }
    }
}

@media screen and (max-width: $screen-lg) {
    section.about-me {
        flex-direction: column;
        padding: 5%;

        img.complete-avatar {
            max-width: 30%;
    
            &:hover {
                transform: scale(180%);
            }
        }
    }
}