section.about-me {
    @include flexbox($justify: space-between, $alignment: center);
    position: relative;
    padding: $nav-height $body-padding;
    height: 100vh;
    width: 100%;

    .carousel {
        width: 70%;
    }

    .card {
        color: $about-me-card-foreground;
        padding: 110px 100px;
        
        &:not(.expand-out) {
            border-radius: 15px;

            @extend .box-shadow-light-top-right;
        }

        transition: .93s ease-out;
    }

    .title {
        font: $font-about-me-heading;
    }

    .paragraph {
        font: $font-about-me-paragraph;
        margin: 23px 0 30px;
        letter-spacing: 1.5;
    }

    img.complete-avatar {
        margin-bottom: 5%;
        max-width: 30%;
        opacity: 0.3;
        z-index: 4;

        transition: 0.5s linear;

        &.expand-out {
            opacity: 1;
            transform: scale(140%);
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    section.about-me {
        padding: 0 5%;

        .card {
            padding: 70px;
        }

        .carousel {
            width: 85%;
        }

        .title {
            font-size: 3.74em;
        }

        img.complete-avatar {
            transform: scale(150%);
            max-width: 25%;

            &.expand-out {
                transform: scale(175%);
            }
        }
    }
}

@media screen and (max-width: $screen-xl) {
    section.about-me {
        .title {
            font-size: 3.2em;
        }
    }
}

@media screen and (max-width: $screen-lg) {
    section.about-me {
        flex-direction: column;
        padding: 5%;

        .carousel {
            width: 100%;
        }

        .paragraph {
            font-size: 1.3em;
        }

        img.complete-avatar {
            max-width: 50%;

            &.expand-out {
                transform: scale(110%);
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    section.about-me {
        .card {
            padding: 70px 30px;
        }

        .title {
            font-size: 2.3em;
        }
    }
}