section.about-me {
    @include flexbox($justify: space-around, $alignment: center);
    padding: $nav-height $body-padding 90px;
    width: 100%;

    .carousel {
        width: 70%;
    }

    .card {
        color: $about-me-card-foreground;
        padding: 50px 5% 50px 100px;

        &:not(.expand-out).slide-active {
            border-radius: 15px;

            @extend .box-shadow-light-bottom-left;
        }

        transition: .73s ease-out;
    }

    .title {
        font: $font-about-me-heading;
    }

    .paragraph {
        font: $font-about-me-paragraph;
        margin: 23px 0 30px;
        letter-spacing: 0.034em;
    }

    img.complete-avatar {
        max-width: 30%;
        opacity: 0.3;
        z-index: 4;
        position: relative;

        transition: 0.5s linear;

        &.expand-out {
            opacity: 1;
            transform: scale(140%);
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    section.about-me {
        .card {
            padding: 40px 8% 45px 70px;
        }

        .carousel {
            width: auto;
        }

        .title {
            font-size: 3.74em;
        }

        img.complete-avatar {
            transform: scale(150%);
            max-width: 25%;

            &.expand-out {
                transform: scale(175%);
            }
        }
    }
}

@media screen and (max-width: $screen-xl) {
    section.about-me {
        .title {
            font-size: 3.2em;
        }

        img.complete-avatar {
            max-width: 29%;
            transform: scale(170%);

            &.expand-out {
                transform: scale(140%);
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    section.about-me {
        flex-direction: column-reverse;
        padding: 2.5%;

        .carousel {
            width: 100%;
        }

        .card {
            padding: 10px 70px;
        }

        .paragraph {
            font-size: 1.3em;
            text-align: justify;
        }

        img.complete-avatar {
            max-width: 50%;

            &.expand-out {
                transform: scale(110%);
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    section.about-me {
        .card {
            padding: 40px 8%;
        }

        .title {
            font-size: 2.3em;
            text-align: center;
            line-height: 1.17;
        }
    }
}