.carousel {
    display: grid;
    align-items: center;

    .carousel-item {
        grid-area: 1 / 1 / 2 / 2;
        height: fit-content;
        width: 100%;

        &:not(.slide-active) {
            opacity: 0;
        }
    }
}

@media screen and (max-width: $screen-xl) {
}

@media screen and (max-width: $screen-lg) {
}