footer {
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
    }

    .made-with-love {
        font: 300 1.3em / 1.73 $font-raleway;
    }

    .all-rights-reserved {
        font: 300 1em / 1.15 $font-raleway;
    }

    .copyright-notice {
        font: 700 18px / 1.5 $font-raleway;
    }
}

@media screen and (max-width: $screen-lg) {
    footer {
        .made-with-love {
            font-size: 1.17rem;
        }

        .all-rights-reserved {
            line-height: 2;
        }

        .copyright-notice {
            font-size: 0.8rem;
            line-height: 1.5;
        }
    }
}