header {
    @extend .flex-center;

    background: linear-gradient(0deg, $bg-exp-header-start 0%, $bg-exp-header-end 100%);
    font-weight: 200;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;

    transition: $sticky-effect-duration;

    & ~ * {
        margin-top: 100vh;
        transition: $sticky-effect-duration;
    }

    &.sticky {
        height: $nav-height;
        z-index: 1;

        & ~ * {
            margin-top: $nav-height;
        }

        &.bg-gradient {
            background: linear-gradient(to top,
            $bg-stick-header-start 0%, $bg-stick-header-md 25%,
            $bg-stick-header-end 100% );
        }

        .brand {
            left: $body-padding;
            text-shadow: $txt-shadow-brand;
            transform: translate(0, -35%);
            font: 100 3rem/1.1 $font-poiret;

            transition: .4s ease-out;
        }
    }

    &:not(.sticky) .brand {
        animation: blinkTextCursor 500ms infinite;
    }

    .brand {
        top: 50%;
        left: 50%;
        color: $header-brand-foreground;
        position: absolute;
        font: 100 15vw/1.1 $font-raleway;

        transform: translate(-50%, -50%);
        transition: 0.47s;
    }
}

@media screen and (max-height: $screen-sm) {
    header {
        &.sticky {
            height: 98px;
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    header {
        &.sticky {
            height: 100px;

            .brand {
                font-size: 2.5em;
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    header {
        height: 100vh;

        &.sticky {
            height: 94px;

            nav {
                display: none;
            }

            .brand {
                top: 43%;
            }
        }

        .brand {
            font-size: 13.5vw;
            transform: translate(-70%, 33%);
        }
    }
}

@media screen and (max-width: $screen-md) {
    header {
        .brand {
            top: auto;
            bottom: 33%;
        }
    }
}