nav.navbar {
    position: absolute;
    top: 4%;
    right: 50px;
    width: 50%;
    height: 70px;

    .nav-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 45px 0 45px 45px;
    }

    .menu-link {
        color: #fff;
        font: $font-nav-menu-link;
        letter-spacing: 1px;

        @include pseudo-elements;

        &::before,
        &::after {
            width: 20px;
            height: 10px;
            opacity: 0;

            transition: 0.5s, opacity 0.3s;
        }

        &:hover::before,
        &:hover::after {
            width: 90%;
            height: 70%;
            opacity: 1;

            transform: rotate(360deg);
        }

        &::before {
            top: 0;
            left: 0;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
        }

        &::after {
            bottom: 0;
            right: 0;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;

            box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
        }
    }
}

@media screen and (max-height: $screen-sm) {
    nav.navbar {
        .nav-menu {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media screen and (max-width: $screen-xl) {
    nav.navbar {
        top: 3%;
        width: 57%;
    }
}

@media screen and (max-width: $screen-lg) {
    nav.navbar {
        height: 100%;

        .nav-menu {
            height: 57%;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}