.profile {
    @include flexbox($justify: center, $alignment: center);

    .graph-area {
        width: 40%;

        img {
            max-height: 70%;
        }
    }

    .abstract-area {
        width: 40%;
        display: flex;
        flex-direction: column;

        .title {
            font: $font-profile-title;
        }
        
        .pharagraph {
            font: $font-profile-paragraph;
            margin-top: 17px;
            text-align: justify;
            letter-spacing: 0.044em;
        }

        .btn {
            color: darken($color: azure, $amount: 10);
            font: $font-profile-download;
            margin-top: 34px;
            align-self: center;
        }
    }
}

@media screen and (max-width: $screen-lg) {
    .profile {
        padding: 0 5%;
        flex-direction: column;

        .graph-area {
            width: 50%;
        }

        .abstract-area {
            width: 90%;
        }
    }
}

@media screen and (max-width: $screen-md) {
    .profile {

        .graph-area {
            width: 70%;
        }
    }
}