.profile {
    @include flexbox($justify: center, $alignment: center);

    .graph-area {
        width: 40%;

        img {
            max-height: 70%;
        }
    }

    .abstract-area {
        width: 40%;

        .title {
            color: lighten(dodgerblue, 11);
            font: $font-profile-title;
        }
        
        .pharagraph {
            font: $font-profile-paragraph;
            margin-top: 17px;
            text-align: justify;
        }

        .btn {
            color: darken($color: azure, $amount: 10);
            font: $font-profile-download;
            margin-top: 34px;
        }
    }
}