section.my-skills {
    padding: $body-padding;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 2.5%;

    .container.box {
        @include flexbox($alignment: center, $justify: space-around);

        flex-direction: column;
        height: 300px;

        .image {
            @extend .flex-center;

            height: $skills-circle;

            @include pseudo-elements {

                &.circle::after {
                    @extend .circle;
                    height: $skills-circle;
                    width: $skills-circle;
                }

                &::after {
                    color: yellow;
                    content: '</>';
                    background: darkblue;

                    font-size: 3em;
                    font-weight: 500;
                    line-height: 1.94;
                    text-align: center;
                }
            };
        }

        .skill-name {
            font-weight: bolder;
            font-family: $font-alternate;
        }

        .description {
            height: 40%;
            font: 1.1em / 1.4 $font-quicksand;
        }

        &:nth-child(odd) {
            margin-top: 10%;

            .image {
                @include pseudo-elements {
                    &::after {
                        content: 'JS';
                        background: red;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    section.my-skills {
        .container.box {
            height: 370px;
            justify-content: space-evenly;

            &:nth-child(3n+1) {
                margin-left: 0;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: $screen-xl) {
    section.my-skills {
        gap: 5%;
        padding-top: 0;
        grid-template-columns: repeat(2, 1fr);

        .container.box {
            justify-content: space-between;

            &:nth-child(even),
            &:nth-child(odd) {
                margin: 4% 0;
            }

            .skill-name {
                margin: 10px 0;
            }

            .description {
                height: 55%;
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    section.my-skills {
        row-gap: 0;
        margin-top: 10%;
        padding-top: $body-padding;

        .container.box {
            .description {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    section.my-skills {
        gap: 5%;
        padding-top: 0;
        grid-template-rows: auto;
        grid-template-columns: 100%;

        .container.box {
            height: fit-content;

            .description {
                height: 40%;
            }

            &:nth-child(even),
            &:nth-child(odd) {
                margin: 0;
            }
        }
    }
}