section.my-skills {
    padding: 30px $body-padding;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 2.5%;

    .container.box {
        @include flexbox($alignment: center, $justify: space-around);

        flex-direction: column;
        height: 300px;

        .image {
            @extend .flex-center;

            height: $skills-circle;

            @include pseudo-elements {

                &.circle::after {
                    @extend .circle;
                    height: $skills-circle;
                    width: $skills-circle;
                }

                &::after {
                    color: yellow;
                    content: '</>';
                    background: darkblue;

                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.94;
                    text-align: center;
                }
            };
        }

        .skill-name {
            font: $font-skills-name;
            text-shadow: 0 0 0 rgb(0 0 0 / .95);
        }

        .description {
            font: $font-skills-description;
            height: 40%;
            letter-spacing: 0.05em;

            strong {
                @include force-strong;
                letter-spacing: 0.07em;
            }
        }

        &:nth-child(odd) {
            margin-top: 10%;

            .image {
                @include pseudo-elements {
                    &::after {
                        content: 'JS';
                        background: red;
                    }
                }
            }
        }
    }

    .languages.box {
        @include flexbox($justify: space-evenly, $alignment: flex-start);

        flex-direction: column;
        grid-column: 1/-1;
        background: $bg-gradient-languages;

        margin: 0 -100%;
        padding: 5% 100%;
        height: calc( 100vh - $body-padding );

        h2 {
            color: #fff;
            font-size: 2.4rem;
            font-family: $font-heading;
            font-variant: small-caps;
            margin-bottom: 30px;
        }

        .lang-name {
            margin-top: 3px;
            color: #fff;
            font: normal 1.3rem $font-montserrat-alt; /* $font-comfortaa; */
        }

        .progress-bar {
            @include pseudo-elements {
                &::after {
                    width: 0%;
                    height: 100%;

                    transition: 3s ease-out;
                }
            };

            width: 70%;
            height: 15px;
            background: $bg-progress-bar;

            &.filled {
                @include pseudo-elements {
                    &::after {
                        width: 100%;
                        background: $bg-gradient-progress-bar;
                    }
                }
            }
        }

        .description {
            font: 1.04rem $font-montserrat-alt;
            color: #fff;
            letter-spacing: 0.97px;
            margin-bottom: 4px;
        }
    }
}

@media screen and (max-width: $screen-xxl) {
    section.my-skills {
        .container.box {
            height: 370px;
            justify-content: space-evenly;

            &:nth-child(3n+1) {
                margin-left: 0;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }

        .languages.box {
            .progress-bar {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: $screen-xl) {
    section.my-skills {
        column-gap: 5.7%;
        grid-template-columns: repeat(2, 1fr);

        .container.box {
            justify-content: space-between;

            &:nth-child(even),
            &:nth-child(odd) {
                margin: 4% 0;
            }

            .skill-name {
                margin: 10px 0;
            }

            .description {
                height: 55%;
            }
        }

        .languages.box {
            .description {
                font-size: 1.02rem;
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    section.my-skills {
        .container.box {
            .skill-name,
            .description {
                text-align: center;
            }
        }

        .languages.box {
            .lang-name {
                font-size: 1.2rem;
            }

            .description {
                letter-spacing: normal;
                font-size: 1rem;
                color: #eee;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    section.my-skills {
        grid-template-columns: 100%;

        .container.box {
            height: fit-content;

            .description {
                height: 40%;
            }

            &:nth-child(even),
            &:nth-child(odd) {
                margin: 15% 9%;
            }
        }

        .languages.box {
            .lang-name {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    section.my-skills {
        .languages.box {
            .lang-name {
                font-size: 1.17rem;
            }

            .progress-bar {
                height: 11px;
                width: 100%;
            }

            .description {
                color: #e4e4e4;
            }
        }
    }
}