// Fonts Families
$font-poiret: 'Poiret One', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-comfortaa: 'Comfortaa', cursive;
$font-quicksand: 'Quicksand', sans-serif;
$font-alternate: 'Montserrat Alternates', sans-serif;

$font-principal: $font-raleway;
$font-friendly: $font-poiret;
$font-leading: $font-quicksand;

$font-menu-item: $font-leading;
$font-about-me-heading: normal 5.43em $font-alternate;
$font-about-me-paragraph: italic 1.43em $font-leading;
$font-profile-paragraph: normal 1.33em $font-leading;
$font-profile-download: bolder 1.33em $font-leading;
$font-profile-title: bold 1.73em $font-alternate;

// Size - Dimensions

$body-padding: 90px;
$body-height: auto;
$body-width: 100vw;
$nav-height: 113px;
$skills-circle: 100px;

$font-size: 1.8em;

$screen-xxs: 360px;
$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1280px;
$screen-xxl: 1360px;

// Colors Palette

$info: #00bcff;
$canary: #f5be19;
$pistache: #90be78;
$lavander: #c5c5d1;
$turqouise: #09E1C0;
$aquamarine: #22c1c3;
$second_canary: rgb(253, 187, 45);
$second_aquamarine: rgb(34, 193, 195);

$bg-neutral: #95A4C3;
$bg-progress-bar: rgb(200 32 90 /.3);

$bg-gradient-green-blue-start: #5dedae;
$bg-gradient-green-blue-finish: #44d4df;

$bg-gradient-orange-fuchsia-start: #ff7c5e;
$bg-gradient-orange-fuchsia-end: #ff54b4;

$bg-stick-header-start: $canary;
$bg-stick-header-end: $aquamarine;
$bg-stick-header-md: $pistache;
$bg-exp-header-start: $second_canary;
$bg-exp-header-end: $second_aquamarine;

$about-me-card-foreground: #000;
$header-brand-foreground: #83ffee;

// Background - Gradients
$bg-gradient-languages: linear-gradient(45deg, $bg-gradient-orange-fuchsia-start, $bg-gradient-orange-fuchsia-end);
$bg-gradient-progress-bar: linear-gradient(120deg, #ddd, #fff var(--data-percent), transparent var(--data-percent));
$brand-min-gradient: linear-gradient(2deg, #e5e5e5 15%, #83ffeee5 50%, #b0f8ef 85%, #e5e5e5);

// BoxAndTxt Shadows
$box-shadw-light-bottom-right: 0 10px 80px -10px rgb(44 54 92 / 20%);
$box-shadw-light-bottom-left: -110px 150px 70px -90px rgb(44 54 92 / 20%);
$box-shadw-light-top-right: 0 10px 80px -10px rgb(44 54 92 / 20%);
$box-shadw-light-top-left: 0 10px 80px -10px rgb(44 54 92 / 20%);
$txt-shadow-brand: -2px 8px 15px rgba(23, 23, 23, 0.12);

// Transitions Timmers - Lifetime Effects
$sticky-effect-duration: 1s;