* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    height: $body-height;
    width: $body-width;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    text-decoration: overline;
    font-family: sans;
    font-weight: 200;
    font-style: italic;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;

    @include pseudo-elements;

    &::after,
    &::before {
        cursor: pointer;
        background-color: olive;
    }
}