-
    let navMenu= [
        { display: 'Home', href: "#!", },
        { display: 'About Me', href: "#about-me", },
        { display: 'Skills', href: "#my-skills", },
        { display: 'Portfolio', href: "#portfolio", },
        { display: 'Contact', href: "#contact", },
    ];

    let avatarCompleteImage='./images/Tree-PNG-Background.png';

    let mySkills= [
        { imageSrc: '', name: 'React', description: `Incluye librerías como React-Router-Dom, Styled Components,
            Custom React Hooks e Integraciones con Redux, Sass, Axios.` },
        { imageSrc: '', name: 'JavaScript', description: `JavaScript incluye implementaciones en Web con React JS,
            jQuery, Axios, Redux. Y usos de Fetch API, Event Listeners, etc.` },
        { imageSrc: '', name: 'PHP', description: `PHP incluye su uso en Servidor Web Apache, y en menor medida Nginx.
            Además de las funciones nativas de PHP. Se ha implementado en CMS como WordPress.
            Y también con frameworks como: Laravel, Symfony.` },
        { imageSrc: '', description: `HTML5 incluye manejo de etiquetas Web Semánticas, atributos para mejorar la Accesibilidad.
            Y en general, optimizaciones SEO de la web.` },
        { imageSrc: '', description: `Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vitae harum voluptatem tempora fuga sapiente cumque fugiat, dolores porro,
            assumenda velit laudantium odit eum rem cupiditate, repellat sit ab a
            facere!`},
    ];