div.carousel
    div.carousel-item.slide-active.card(id=1)
        h3.title Software Development
        p.paragraph.
            ¿Anda en busca de un programador Samurai? -Aquí estoy :D-<br/>
            ¿Quiere hacer una aplicación Zen? o Incluso  <br/>
            ¿Es ud. un visitante estelar y pretende desarrollar para astronautas?<br/>
            <b>Llamáme</b>. Me gustaría saber de ti.
    .carousel-item.card(id=2)
        h3.title Fullstack Developer
        p.paragraph.
            Aquí entre nos, me gusta más el frontend. Pero soy mejor en el backend. <br/>
            Administro aplicaciones y la lógica pesada. <br/>
            Soy apto para habilidades de depuración y resolver problemas.
    .carousel-item.card(id=3)
        h3.title Investigación + Desarrollo
        p.paragraph.
            Me encanta investigar y resolver problemas, más si requieren de un Laboratorio.<br/>
            ¿Viste las caricaturas donde los personajes iban a sus Laboratorios?<br/>
            ¿Puedo ayudarte a investigar al lado de tu proyecto?<br/>
    .carousel-item.card(id=4)
        h3.title UX Engineer
        p.paragraph.
            Si le preocupa la estética y/o 'feeling' de su sitio web.<br/>
            Y a la vez quiere mejorar su desempeño.<br/>
            <b>Contácteme</b> y le ayudaré a dejar una excelente sensación en sus clientes y/o usuarios.
    .carousel-item.card(id=5)
        h3.title Frontend Developer
        p.paragraph.
            Desarrollo Interfaces de Usuario basado en diseños, mockups o wireframes.<br/>
            Siempre busco una buena estética y usabilidad para tu sitio web.<br/>
            Apoyado en las herramientas más populares de la tecnología web.