div.carousel
    div.carousel-item.card(id=1)
        h3.title Software Developer
        p.paragraph.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Adipisci nam veritatis iusto at aspernatur, voluptas eum pariatur consectetur eaque nihil
            vero voluptatum voluptatem quam vitae veniam mollitia, corporis quasi delectus!</p>
    //- .carousel-item.card(id=2)
    //-     h3.title
    //-     p.paragraph
    //- .carousel-item.card(id=3)
    //-     h3.title
    //-     p.paragraph