div.carousel
    div.carousel-item.card(id=1)
        h3.title Software Developer
        p.paragraph.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Adipisci nam veritatis iusto at aspernatur, voluptas eum pariatur consectetur eaque nihil
            vero voluptatum voluptatem quam vitae veniam mollitia, corporis quasi delectus!
    .carousel-item.card(id=2)
        h3.title UX Engineer
        p.paragraph.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa cumque quae dolores
            asperiores quis ea reprehenderit id porro, quod magnam iusto quaerat!
    .carousel-item.card(id=3)
        h3.title Frontend Developer
        p.paragraph.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam itaque
            magnam doloribus! Similique placeat fuga quibusdam iusto repellat illum ad, quae,
            totam sed error harum explicabo praesentium odio fugiat?