div.carousel
    div.carousel-item.slide-active.card(id=1)
        h3.title Software Development
        p.paragraph.
            ¿Buscas hacer una aplicación Zen?<br/>
            ¿Andas en busca de un programador Samurai?<br/>
            ¿Eres un visitante estelar y pretendes desarrollar para astronautas?<br/>
            Espera. Mejor aún, si tienes un problema. Y crees que puedamos resolverlo juntos con Inteligencia Computacional.
    .carousel-item.card(id=2)
        h3.title Investigación & Desarrollo
        p.paragraph.
            ¿Viste las caricaturas donde los personajes iban a sus Laboratorios?<br/>
            Me encanta investigar y resolver problemas, más si requieren de un Laboratorio.<br/>
            Y ahora... ¿Puedo ayudarte investigando en tu proyecto?<br/>
    .carousel-item.card(id=3)
        h3.title UX Engineer
        p.paragraph.
            Te interesa la estética y el 'feeling' de tu sitio web.<br/>
            A la vez que quisieras mejorar su velocidad.<br/>
            En general, deseas dejar una sensación en tus clientes y/o visitantes.
    .carousel-item.card(id=4)
        h3.title Frontend Developer
        p.paragraph.
            ¿No te interesa que tus clientes tengan el servicio Pro?<br/>
            Sólo buena estetica y usabilidad de tu sitio web.<br/>
            Siempre con las mejores herramientas de la tecnología web.
