div.profile
    div.graph-area
        img.avatar(src=`${ avatarFriendlyImage }`, alt="Imagen o fotografía")
    div.abstract-area
        h3.title.
            Hello !  I'm Jean Francisco Jiménez.
        p.pharagraph.
            Well, that's not my name, but it's similar and a nice nickname.<br/> 
            I'm a Computer Systems Engineer and in the past I had worked as a Web Developer.
            I'm interested in building and developing Complex Systems and Smart Software for fun applications.
            I wanna build IT solutions to make the fusion/intersection between the virtual and the real World.<br/>
            I consider myself a creative, dedicated, inquisitive and responsible person.
            If the tasks are of my interest, you can be trust that I made them in the best way.
            <br/>
            <br/>
            Do you want to know more? <b>Download</b> :
        button.btn.bg-green(onclick=" window.location = './files/docs/CV_FullStack_Web_Developer_Juan_Francisco_Jimenez_creative_vitae.pdf' ") My Curriculúm Vitae.
