section.roles 
    .box
        .role-name Additional
        ul.tech-tools
            li.skill-bullet SCRUM
            li.skill-bullet Kanban
            li.skill-bullet SOLID, DRY *
            li.skill-bullet Figma
            li.skill-bullet MySQL
            li.skill-bullet Jira
            li.skill-bullet Git
    .box
        .role-name Front-End
        ul.tech-tools
            li.skill-bullet React JS
            li.skill-bullet Redux
            li.skill-bullet Bootstrap
            li.skill-bullet Foundation
            li.skill-bullet Responsive Design
            li.skill-bullet jQuery
            li.skill-bullet Axios
            li.skill-bullet JSON
            li.skill-bullet GraphQL *
            li.skill-bullet Sass
    .box
        .role-name Back-End
        ul.tech-tools
            li.skill-bullet Laravel
            li.skill-bullet Symfony
            li.skill-bullet Node.js
            li.skill-bullet Express
            li.skill-bullet APIs RESTful
            li.skill-bullet ORMs
                ul
                    li.skill-bullet Mongoose
                    li.skill-bullet Eloquent
                    li.skill-bullet Doctrine
            li.skill-bullet Engine Templates
    .box
        .role-name Testing
        ul.tech-tools
            li.skill-bullet React Testing Library
            li.skill-bullet Selenium *
            li.skill-bullet Cypress *
            li.skill-bullet Jest
    .box
        .role-name DevOps
        ul.tech-tools
            li.skill-bullet Docker
            li.skill-bullet Github Actions